<div class="col-xs-12">
	<div class="col-xs-6">
		<h1>Les articles</h1>
	</div>
	<div class="col-xs-6">
		<%= link_to 'Régider un nouvel article', new_post_path, class: 'btn btn-info' if session[:user_id] %>
	</div>
</div>
<div class="clearfix"></div>
<hr>
<%= render partial: @posts %>

